<section class="hero is-light">
	<div class="hero-body">
		<h1 class="title">
			掲示板一覧
		</h1>
	</div>
</section>

<div class="buttons has-addons is-right">
	<button class="button">
		<%= link_to '新規作成', new_create_path %>
	</button>
</div>

<table class="table is-fullwidth is-right">
	<thead>
		<tr>
			<th>ID</th>
			<th>タイトル</th>
			<th>作成者</th>
			<th>作成日時</th>
			<th>更新日時</th>
		</tr>
	</thead>
	<tbody>
		<% @boards.each do |board| %>
			<tr>
				<th><%= board.id %></th>
				<th><%= board.title %></th>
				<th><%= board.name %></th>
				<th><%= board.created_at.to_s(:datetime_jp) %></th>
				<th><%= board.updated_at.to_s(:datetime_jp) %></th>
			</tr>
		<% end %>
	</tbody>
</table>