<section class="hero is-light">
	<div class="hero-body">
		<h1 class="title">
			掲示板一覧
		</h1>
	</div>
</section>

<div class="buttons has-addons is-right">
	<button class="button">
		<%= link_to '新規作成', new_board_path %>
	</button>
</div>

<% if flash[:notice] %>
	<div>
		<div class="notification is-danger">
			<%= flash[:notice]%>
		</div>
	</div>
<% end %>

<table class="table is-fullwidth is-right">
	<thead>
		<tr>
			<th>ID</th>
			<th>タイトル</th>
			<th>作成者</th>
			<th>作成日時</th>
			<th>更新日時</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @boards.each do |board| %>
			<tr>
				<td><%= board.id %></td>
				<td><%= board.title %></td>
				<td><%= board.name %></td>
				<td><%= board.created_at.to_s(:datetime_jp) %></td>
				<td><%= board.updated_at.to_s(:datetime_jp) %></td>
				<td>
					<button class="button is-link is-light">
						<%= link_to '詳細', board %>
					</button>
				</td>
				<td>
					<button class="button is-link is-light">
						<%= link_to '削除', board, method: :delete %>
					</button>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

	<%= paginate @boards %>

<br>
<br>
